/*--------------------------------------------------//
/$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$
/$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$  \__/| $$  \__/| $$  \__/
| $$$$$$$$| $$ /$$$$| $$      |  $$$$$$
| $$__  $$| $$|_  $$| $$       \____  $$
| $$  | $$| $$  \ $$| $$    $$ /$$  \ $$
| $$  | $$|  $$$$$$/|  $$$$$$/|  $$$$$$/
|__/  |__/ \______/  \______/  \______/
Developed with loving code by http://www.agcs.works
For questions and support email info@agcs.works
//--------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html,body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#container {
    position: relative;
    left: 0px;
    top: 0px;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.element {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.hide {
    opacity: 0;
}
#border {
    opacity: 1;
    border: 1px solid #000000;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    pointer-events: none;
}

.textelement {
    position: absolute;
    left: 40px;
    top: 15px;
    width: 220px;
    height: 50px;
    color: #c43737;
    text-align: center;   
    font-size: 24px;
    font-weight: 700;
}

#textbox {
    position: absolute;
    left: 0px;
    top: 215px;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text4 {
    color: #c43737;
    width: 240px;
    height: 130px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
#text2bottom {
    left: 0px;
    top: 510px;
    width: 100%;
    height: 10px;
    font-size: 14px;
    text-align: center;
    color: #c43737;
}

#text1bottom {
    left: 0px;
    top: 480px;
    width: 100%;
    height: 10px;
    font-size: 25px;
    text-align: center;
    color: #c43737;
}

#engrave {
    text-transform: none;
    font-size: 10px;
    font-family: "Avenir Next";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0,-0.9549114331723,0.9552599758162,0,0,0);
    -webkit-transform: matrix( 0,-0.9549114331723,0.9552599758162,0,0,0);
    -ms-transform: matrix( 0,-0.9549114331723,0.9552599758162,0,0,0);
    position: absolute;
    left: 118px;
    top: 255px;
    width: 130px;
    height: 80px;
    z-index: 19;
}
    
#ctabox {
    position: absolute;
    left: 0px;
    top: 390px;
    width: 100%;
    height: 50px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
    text-align:center; 
}
#cta {
    border: 3px solid #c43737;
    color: #c43737;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 15px;
    overflow: hidden;
    position: relative;
    display:inline-block;
}
#cta.active:after {
    content: '';
    position: absolute;
    width: 200px;
    left: -200px;
    top: 0px;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right, rgba(166,55,55,0), rgba(166,55,55,0.6), rgba(166,55,55,0));
    height: 120%;
    animation: shine 0.75s ease-out;
    animation-iteration-count: 2;
    animation-delay: 0s;
}
@keyframes shine {
    100% {
        left: 100%;
    }
}

#videoplayer,#videoplaceholder {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 600px;
}

#containerConfetti {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%; 
    height:100%;
    overflow: hidden;
    pointer-events: none;
}
.dot{
    width:40px;
    height:40px;
    border-radius: 30px;
    position:absolute;
    background-color:#00FF00;
}
/*#cta.active:after {
    content:'';
    width: 135px;
    height: 35px;
    top: 0px;
    left: 0px;
    overflow: auto;
    border: 3px solid #f2b19b;
    position:absolute;
    animation: neon 0.75s ease-out;
    animation-iteration-count: 2;
    animation-delay: 0s;
    box-shadow: 0px 0px 0px 0px rgba(230, 107, 94,0.3);
}

@keyframes neon {
    100% {
        border: 3px solid #fadfd3;
        box-shadow: 0px 0px 20px 10px rgba(230, 107, 94,0.7);
    }
}*/

@keyframes shine {
    100% {
        left: 100%;
    }
}

#containerConfetti {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%; 
    height:100%;
    overflow: hidden;
    pointer-events: none;
}
.dot{
    width:40px;
    height:40px;
    border-radius: 30px;
    position:absolute;
    background-color:#00FF00;
}

.heart_spec{
    width:40px;
    height:40px;
    position:absolute;
    fill:#f8dede;
}